@import 'imports';

body {
  background: map-get($colors, draftBlue);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

a,
a:visited,
a:hover {
  color: map-get($colors, draftBlue);
  text-decoration: none;
}

a:hover {
  color: map-get($colors, draftBlue);
}

button {
  background-color: transparent;
  border: 2px solid map-get($colors, forceYellow);
  color: map-get($colors, forceYellow);
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: map-get($colors, forceYellow);
  color: black;
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {

}

